@font-face { 
	font-family: 'OpenSans';
    src: url('../fonts/OpenSans-Regular-webfont.woff') format('woff');         
}

@font-face { 
	font-family: 'DroidSansMono';
    src: url('../fonts/DroidSansMono-webfont.woff') format('woff');         
}

.CodeMirror {	
	font-family: inherit;
	border: 0px solid;
	height: auto;
	line-height: 1.3;
}

.CodeMirror-scroll {
	overflow-y: hidden;
	overflow-x: hidden;
}          

html {
	height: 98%; 
	width: 100%;
}

body {
	font-family: DroidSansMono;
	background-color: #1d1e1c;  	
	color: white;
	font-size: 12px; 
	width: 100%;
	height: 100%;          
	margin: 0 auto;     
	overflow-y: hidden;
	overflow-x: hidden;
}

#content {	
	overflow: hidden;	
	position: relative;
}

#footer {
	font-size: 15px;
	height: 40px;
	padding-left: 10px;
	padding-top: 5px; 
	background-color: #24476B;
	background-color: black;
}

input {
    outline: none;
    transition: all 0.25s ease-in-out;
    -webkit-transition: all 0.25s ease-in-out;
}

#code-pane {  		
	height: 100%;
	width: 100%;
	vertical-align: middle;
	display: inline-block;
	margin-left: 0px;  	
	padding-right: 5px; 
	border-right: 1px solid grey;
  
	transition: all .2s ease-in-out;
	-webkit-transition: all .2s ease-in-out;   
}

#code-pane > div:first-child {
	max-height: 80%;
	overflow-y: auto;
}

#code-pane > div:nth-child(2) {
	height: 20%;
	overflow-y: auto;
}

/** 
* Repl input panel 
*/
#code + .CodeMirror {
	background-color: rgb(55,55,55);		
	border-left: 20px solid rgb(0,80,80);
	padding-left: 5px;
}

#repl-status {
	color: white;
}

#libPane {              
  display: none;      
  height:100%;     
  overflow-y: hidden;
  position: absolute;
  right: 0px;
  top: 0px;
}

#suggestionsPane {
  margin-top: 10px;
  overflow: auto;        
  height:100%; 
}

.libPanel { 
	cursor: pointer;
	vertical-align: middle;
	white-space: nowrap;  
	font-size: 12px;
	margin-top: 3px;
	margin-bottom: 3px;
	border-radius: 5px; 
	/* border: 1px solid #616260; */
	border-radius:0px;
	background-color: #333333;
	padding-left: 5px;
	padding-top: 5px;
	padding-bottom: 0px;
     
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	user-select: none;
}

.libPanelLevel1 {    
    width: 100%;
    overflow-x: hidden;  
    text-overflow: ellipsis;
}

.libPanelLevel2 {
    background-color: black;
    margin-left: -5px;
    margin-right: 0px;
    width: 100%;
    overflow-x: auto;
}

.libPanelSrcButton {
    border-radius: 5px;
    /*background-color: greenyellow;*/
    background-color: rgba(224,27,93,.3);
    /*display: inline-block;*/
    width: 80%;    
    font-weight: bold;
    font-size: 1em;    
    text-align: center;
    margin-top: 5px;
    padding-left: 3px;
    padding-right: 3px;
    color: lightgrey;    
}

#code {
  display: inline-block;
  width: 90%;
  background-color: yellow;
}
    
#titleOuter {  	
	font-family: 'Fauna One', serif;
	text-align: right;
	color: white;
	font-size:2em;  
	margin-bottom: 20px;
}

#titleInner {
  margin-bottom: -5px;
}

#titleText {
}

#logo {
	display: none;
	width: 20px;	
}


#libPane div {
	width: 100%;
}

#libPane > div > input {
	width: 80%;
	vertical-align: top;
}

#ajax-loader {		
	vertical-align: top;
	visibility: hidden;
}

#search-box {
	width: 100%;
	border-radius: 5px;
	padding: 5px;  
	border: 0px;
	font: inherit;  
	color: black;	
	background-color: rgb(240,240,240);
	border: 1px solid lightgrey;
	/*box-shadow: 0 0 15px rgba(0, 250, 220, 1);  */
}


.cm-s-dabble.CodeMirror             { background: #1d1e1c; color: #A4A49D; }
.cm-s-dabble .CodeMirror-selected   { background: #253B76 !important;}
.cm-s-dabble .CodeMirror-gutters    { background: transparent; border-right: 0; }
.cm-s-dabble .CodeMirror-linenumber { color: #A7B5C4; }
.cm-s-dabble .CodeMirror-cursor     { border-left: 1px solid #A7A7A7 !important;}

/* TEAL #339966 */
/* PURPLE #6600FF */
/* LIGHT BLUE #3385AD */

.cm-s-dabble .cm-keyword  { color: #70B894; }
.cm-s-dabble .cm-atom     { color: #6600FF; }
.cm-s-dabble .cm-number   { color: #99B2E6; }
.cm-s-dabble .cm-def      { color: #8DA6CE; }
.cm-s-dabble .cm-variable { color: #FFFFFF; }
.cm-s-dabble .cm-operator { color: #80CC99;}
.cm-s-dabble .cm-comment  { color: #AEAEAE; }
.cm-s-dabble .cm-string   { color: #66FF66; }
.cm-s-dabble .cm-string-2 { color: #CCCCFF; }
.cm-s-dabble .cm-meta     { color: #D8FA3C; }
.cm-s-dabble .cm-error    { background: #9D1E15; color: #F8F8F8; }
.cm-s-dabble .cm-builtin  { color: #C2A3FF; }
.cm-s-dabble .cm-tag      { color: #8DA6CE; }
.cm-s-dabble .cm-attribute{ color: #8DA6CE; }
.cm-s-dabble .cm-header   { color: #FF6400; }
.cm-s-dabble .cm-hr       { color: #AEAEAE; }
.cm-s-dabble .cm-link     { color: #8DA6CE; }

.CodeMirror-hints {
	position: absolute;
	z-index: 10;
	overflow: hidden;
	list-style: none;
	margin: 0;
	padding: 2px;
	-webkit-box-shadow: 2px 3px 5px rgba(0,0,0,.2);  
	box-shadow: 2px 3px 5px rgba(0,0,0,.2);        
	border: 0px solid silver;
	background: rgba(0,0,0,.6);
	font-size: 90%;
	font-family: monospace;
	max-height: 20em;
	overflow-y: auto;
}

.CodeMirror-hint {
	font-family: DroidSansMono;
	font-size: 1.2em;
	margin: 0;
	padding: 0 4px;        
	max-width: 100%;
	overflow: hidden;
	white-space: pre;
	color: white;
	cursor: pointer;
}

.CodeMirror-hint-active {
	background: #009933;
	color: white;
}


::-webkit-scrollbar {
	width: 10px;
	height: 10px;
}

::-webkit-scrollbar-button:start:decrement,
::-webkit-scrollbar-button:end:increment  {
	display: none;
}

::-webkit-scrollbar-track-piece  {
	background-color: transparent;
	-webkit-border-radius: 6px;
}

::-webkit-scrollbar-thumb:vertical {
	-webkit-border-radius: 6px;
	background: #666 no-repeat center;
}

::-webkit-scrollbar-thumb:horizontal 
{
	-webkit-border-radius: 6px;
	background: #666 no-repeat center;
}

.resultWidget 
{
    border-radius: 5px; 
    padding: 2px;
    padding-left: 5px;
    margin: 5px 0px;
    /*background-color: rgb(40,40,40);*/
}
